@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"),
    url("fonts/sourcesansproextralight.woff2") format("woff2"),
    url("fonts/sourcesansproextralight.woff") format("woff"),
    url("fonts/sourcesansproextralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"),
    url("fonts/sourcesansprolight.woff2") format("woff2"),
    url("fonts/sourcesansprolight.woff") format("woff"),
    url("fonts/sourcesansprolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"),
    url("fonts/sourcesanspro.woff2") format("woff2"),
    url("fonts/sourcesanspro.woff") format("woff"),
    url("fonts/sourcesanspro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"),
    url("fonts/sourcesansprosemibold.woff2") format("woff2"),
    url("fonts/sourcesansprosemibold.woff") format("woff"),
    url("fonts/sourcesansprosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
    url("fonts/sourcesansprobold.woff2") format("woff2"),
    url("fonts/sourcesansprobold.woff") format("woff"),
    url("fonts/sourcesansprobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Black"), local("SourceSansPro-Black"),
    url("fonts/sourcesansproblack.woff2") format("woff2"),
    url("fonts/sourcesansproblack.woff") format("woff"),
    url("fonts/sourcesansproblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --color-green: #4fbd20;
  --color-yellow: #ffc109;
  --color-text: rgba(55, 77, 103, 0.57);
  --color: #364c66;
  --color-red: #dc3545;
  --color-purple: #6d3cb7;
  --color-grey: #939FAD;
  --shadow: rgba(0, 0, 0, 0.25);
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  background-color: #f7f8f9;
}
a {
  color: #112b4a;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
h1 {
  color: var(--color);
  margin: 10px 0 0 0;
  line-height: 1;
  font-size: 40px;
}
p {
  margin: 0;
}
input {
  background: #ffffff;
  border: 1px solid #dbdfe4;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  height: 37px;
  width: 100%;
}
input::placeholder {
  color: #b3bbc6;
}
input:focus {
  outline: none;
}
.search_input {
  position: relative;
}
.search_input::after {
  content: "";
  position: absolute;
  top: calc(50% - 8.5px);
  right: 12px;
  width: 17px;
  height: 17px;
  background: url(img/search.svg) no-repeat center / 17px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  /* выравниваем все флекс элементы по ширине .container */
  margin-left: -18px;
  margin-right: -18px;
}
.col-3,
.col-6,
.col-12 {
  margin: 18px;
  box-sizing: border-box;
}

.col-3 {
  width: calc(25% - 36px);
}
.col-6 {
  width: calc(50% - 36px);
}
.col-12 {
  width: calc(100% - 36px);
}

.container {
  width: 1250px;
  margin: 0 auto;
}
.main {
  padding: 32px 0;
}
.button {
  background-color: var(--color-green);
  color: #fff;
  padding: 15px 35px;
  border-radius: 4px;
  font-weight: 600;
  display: inline-block;
}

.yellow {
  color: var(--color-yellow);
}
.green {
  color: var(--color-green);
}
.red {
  color: var(--color-red);
}
.purple {
  color: var(--color-purple);
}
.yellow_bg {
  background: var(--color-yellow);
}
.purple_bg {
  background: var(--color-purple);
}
.grey_bg {
  background: var(--color-grey);
}
/* Header */
.header {
  background: var(--color);
  padding: 14px 34px;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_left,
.header_right,
.header_account {
  display: flex;
  align-items: center;
}

.header_projects {
  margin-left: 48px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.header_projects p {
  position: relative;
}
.header_projects p::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -28px;
  width: 10px;
  height: 10px;
  background-image: url(img/Polygon.svg);
  background-repeat: no-repeat;
  background-size: 10px;
}
.header_notece {
  margin-right: 26px;
}
.header_account {
  color: #fff;
  padding-left: 14px;
  border-left: 1px solid #233243;
}
.header_account img {
  margin-right: 7px;
}

/* Sitebar */
.sitebar {
  background-color: #fff;
  padding: 33px 16px;
  position: fixed;
  top: 72px;
  left: 0;
  bottom: 0;
}

/* Main */
.content_link_page {
  display: flex;
  align-items: center;
}
.content_link_page a {
  text-transform: uppercase;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.content_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* menu */
.menu ul {
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  color: var(--color-text);
}
.menu li {
  padding: 12px;
}
.menu li.active {
  background: #e8f0fe;
  border-bottom: 1px solid #308af3;
}

/* indicators */
.indicators .col-3 {
  padding: 21px 22px 23px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.indicators_p_top {
  font-weight: 600;
  font-size: 15px;
  color: #939fb0;
}
.indicators_p_num {
  font-size: 30px;
  margin: 14px 0 10px;
}
.indicators_p_summ {
  color: var(--color);
}
.indicators_p_bottom {
  font-size: 13px;
  color: rgba(55, 77, 103, 0.57);
}
.indicators_p_bottom.green {
  font-weight: 700;
  color: var(--color-green);
}

/* table */
.table {
  box-shadow: 0px 0px 10px var(--shadow);
  margin: 15px 0;
}
.table_heading,
.table_content {
  display: flex;
}
.table_heading {
  background: #ffffff;
  border: 1px solid #efefef;
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 700;
  color: var(--color-text);
}
.table_content {
  padding: 12px 20px;
  border-bottom: 1px solid #efefef;
}
.table_col {
  width: 100%;
}
.table_content_col {
  color: var(--color-text);
}
.table_content_col:nth-child(1) {
  color: #2f80ed;
}
.table_content_col.red {
  color: var(--color-red);
}

.table_content_col .table_col_color {
  padding: 6px 14px;
  color: #fff;
  border-radius: 2px;
  font-size: 9px;
}

/* Preferred */
.preferred .row {
  margin-left: -37.5px;
  margin-right: -37.5px;
}
.preferred_col_6 {
  width: calc(50% - 75px);
  margin: 15px 37.5px;
  padding: 20px 24px;
  background: #ffffff;
  box-shadow: 0px 0px 10px var(--shadow);
}
.preferred_heading {
  font-size: 13px;
  color: var(--color);
  margin-bottom: 35px;
}

.preferred_row {
  display: flex;
  align-items: flex-end;
}
.preferred_col {
  margin-top: 15px;
  margin-left: 7px;
}
.preferred_col_line {
  width: 88%;
  height: 5px;
  background: #e9ecef;
  border-radius: 5px;
  margin-right: 7px;
  overflow: hidden;
}
.preferred_line_result {
  height: 100%;
  background: #308af3;
}
.preferred_col_price {
  width: 12%;
  font-size: 12px;
  color: var(--color);
  line-height: 1;
}
.preferred_col p {
  color: var(--color-text);
  font-size: 15px;
  line-height: 1;
}

.preferred_list {
  font-size: 15px;
  color: var(--color-text);
}
.preferred_list li {
  margin: 10px 0;
  position: relative;
  padding-left: 20px;
}
.preferred_list li::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 5.5px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #939fad;
}
.preferred_list li:nth-child(2):before {
  background: var(--color-yellow);
}
.preferred_list li:nth-child(3):before {
  background: var(--color-purple);
}

.preferred_col_6 .row {
  align-items: center;
}
.preferred_col_6 .col-6 {
  margin-top: 0;
  margin-bottom: 0;
}
.preferred_circle {
  text-align: center;
}
